body {
    background-image: url("https://marketplace.canva.com/EAGLW6ewPD0/1/0/1600w/canva-marry-christmas-zoom-virtual-background-TE7ldhjtJ8o.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  